<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepper.project.pm.guide.mapper.GuidePmMapper">

	<resultMap type="GuidePm" id="GuideResult">
		<id     property="id"         		column="id"         />
		<result property="title"         column="title"        />
		<result property="content"         column="content"        />
		<result property="propertyId"       column="property_id"         />
		<result property="status"           column="status"         />
		<result property="createTime"       column="create_time"            />
		<result property="createBy"     	column="create_by"    />
		<result property="updateTime"       column="update_time"           />
		<result property="updateBy"         column="update_by"                />
		<association property="property"    column="id" javaType="Property" resultMap="PropertyResult" />
	</resultMap>

	<resultMap type="Property" id="PropertyResult">
		<id     property="id"         		column="id"         />
		<result property="propertyCode"         column="property_code"        />
		<result property="propertyName"         column="property_name"        />
		<result property="areaId"       column="area_id"         />
		<result property="status"           column="status"         />
	</resultMap>

	<sql id="selectGuideVo">
       select bg.create_time, bg.create_by, bg.update_time, bg.update_by, bg.id,bg.title, bg.content, bg.property_id,bg.status,
       c.id,c.property_code,c.property_name,c.area_id,c.status
        from pm_business_guide bg
        left join pm_property c on bg.property_id = c.id
    </sql>

	<select id="selectGuideById" parameterType="Integer" resultMap="GuideResult">
		<include refid="selectGuideVo"/>
		where bg.id = #{id}
	</select>

 	<select id="selectGuideList" parameterType="Property" resultMap="GuideResult">
		<include refid="selectGuideVo"/>
		<where>
			<if test="title != null and title != ''">
				AND bg.title like concat('%', #{title}, '%')
			</if>
			<if test="propertyId != null and propertyId != ''">
				AND bg.property_id like concat('%', #{propertyId}, '%')
			</if>
			<if test="status != null and status != ''">
				AND bg.status = #{status}
			</if>
			<if test="id != null and id != 0">
				AND bg.id = #{id}
			</if>
		</where>
	</select>

	<insert id="insertGuide" parameterType="GuidePm">
		insert into pm_business_guide (
		<if test="title != null and title != '' ">title, </if>
		<if test="content != null and content != '' ">content, </if>
		<if test="propertyId != null and propertyId != '' ">property_id, </if>
		<if test="status != null and status != '' ">status, </if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="updateBy != null and updateBy != ''">update_by,</if>
		create_time,
		update_time
		)values(
		<if test="title != null and title != ''">#{title}, </if>
		<if test="content != null and content != ''">#{content}, </if>
		<if test="propertyId != null and propertyId != ''">#{propertyId}, </if>
		<if test="status != null and status != '' ">#{status}, </if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="updateGuide" parameterType="GuidePm">
		update pm_business_guide
		<set>
			<if test="title != null and title != ''">title = #{title}, </if>
			<if test="content != null and content != ''">content = #{content}, </if>
			<if test="propertyId != null">property_id = #{propertyId}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>

    <delete id="deleteGuideByIds" parameterType="String">
        delete from pm_business_guide where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
