<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增医院')" />
	<th:block th:include="include :: summernote-css" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-hospital-add">
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">医院名称：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="hosName" id="hosName" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">医院英文名：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="hosCode" id="hosCode" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">医院介绍：</label>
			<div class="col-sm-10">
				<input id="introduction" name="introduction" type="hidden">
				<div class="summernote"></div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">所属社区：</label>
			<div class="col-sm-10">
				<select id="communityIds" name="communityIds" class="form-control noselect2 selectpicker" data-none-selected-text="请选择所属社区" multiple>
					<option th:each="area:${areas}" th:value="${area.id}" th:text="${area.areaName}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">所属区域：</label>
			<div class="col-sm-10">
				<select id="areaId" name="areaId" class="form-control noselect2 selectpicker" data-none-selected-text="请选择所属区域">
					<option th:each="area:${areas}" th:value="${area.id}" th:text="${area.areaName}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">医院状态：</label>
			<div class="col-sm-10">
				<div class="radio-box" th:each="dict : ${@dict.getType('sys_notice_status')}">
					<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
					<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
				</div>
			</div>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: summernote-js" />
<th:block th:include="include :: select2-js" />
<th:block th:include="include :: bootstrap-select-js" />
<script type="text/javascript">
	var prefix = ctx + "csc/hospital";

	$('.summernote').summernote({
		placeholder: '请输入医院介绍',
		height : 192,
		lang : 'zh-CN',
		followingToolbar: false,
		callbacks: {
			onImageUpload: function (files) {
				sendFile(files[0], this);
			}
		}
	});

	// $("#form-area-add").validate({
	// 	onkeyup: false,
	// 	rules:{
	// 		cronExpression:{
	// 			remote: {
	// 				url: prefix + "/checkCronExpressionIsValid",
	// 				type: "post",
	// 				dataType: "json",
	// 				data: {
	// 					"cronExpression": function() {
	// 						return $.common.trim($("#cronExpression").val());
	// 					}
	// 				},
	// 				dataFilter: function(data, type) {
	// 					return data;
	// 				}
	// 			}
	// 		},
	// 	},
	// 	messages: {
	// 		"cronExpression": {
	// 			remote: "表达式不正确"
	// 		}
	// 	},
	// 	focusCleanup: true
	// });

	function submitHandler() {
		if ($.validate.form()) {
			var sHTML = $('.summernote').summernote('code');
			$("#introduction").val(sHTML);
			$.operate.save(prefix + "/add", $('#form-hospital-add').serialize());
		}
	}
</script>
</body>
</html>
