<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('区域设置')" />
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="online-form">
				<div class="select-list">
					<ul>
						<li>
							id：<input type="text" name="id"/>
						</li>
                        <li>
                            区域编码：<input type="text" name="areaCode"/>
                        </li>
						<li>
							区域名称：<input type="text" name="areaName"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="csc:area:add">
				<i class="fa fa-plus"></i> 新增
			</a>
            <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="csc:area:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="csc:area:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
	//var forceFlag = [[${@permission.hasPermi('monitor:online:forceLogout')}]];
	var editFlag = [[${@permission.hasPermi('csc:area:edit')}]];
	var removeFlag = [[${@permission.hasPermi('csc:area:remove')}]];
	var prefix = ctx + "csc/area";

	$(function() {
		var options = {
			uniqueId: "id",
			url: prefix + "/list",
			createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
			exportUrl: prefix + "/export",
			sortName: "createTime",
			sortOrder: "desc",
			modalName: "区域",
			showExport: true,
			escape: true,
			columns: [{
				checkbox: true
			},
				{
                    field : 'id',
                    title : '序号'
                },
				// {
				// 	field: 'id',
				// 	title: 'id'
				// },
                {
                    field: 'areaCode',
                    title: '区域编码'
                },
				{
					field: 'areaName',
					title: '区域名称'
				},
				{
					field: 'coordinate',
					title: '经纬度'
				},
				{
					field: 'createTime',
					title: '创建时间',
					sortable: true
				},
				{
					field: 'createBy',
					title: '创建者'
				},
				{
					field: 'updateTime',
					title: '更新时间',
					sortable: true
				},
				{
					field: 'updateBy',
					title: '更新人'
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
					}
				}]
		};
		$.table.init(options);
	});

	// 单条强退
	function forceLogout(sessionId) {
		$.modal.confirm("确定要强制选中用户下线吗？", function() {
			var data = { "sessionId": sessionId };
			$.operate.post(prefix + "/forceLogout", data);
		})
	}

	// 批量强退
	function batchForceLogout() {
		var rows = $.table.selectColumns("sessionId");
		if (rows.length == 0) {
			$.modal.alertWarning("请选择要强退的用户");
			return;
		}
		$.modal.confirm("确认要强退选中的" + rows.length + "条数据吗?", function() {
			var url = prefix + "/batchForceLogout";
			var data = { "ids": rows };
			$.operate.post(url, data);
		});
	}
</script>
</body>
</html>
