<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepper.project.ch.appointment.mapper.AppointmentMapper">

	<resultMap type="Appointment" id="AppointmentResult">
		<id     property="id"         		column="id"         />
		<result property="userId"         column="user_id"        />
		<result property="hospitalId"         column="hospital_id"        />
		<result property="medicalProjectId"       column="medical_project_id"         />
		<result property="appointmentTime"       column="appointment_time"         />
		<result property="appointmentName"       column="appointment_name"         />
		<result property="appointmentPhone"       column="appointment_phone"         />
		<result property="status"           column="status"         />
		<result property="createTime"       column="create_time"            />
		<result property="createBy"     	column="create_by"    />
		<result property="updateTime"       column="update_time"           />
		<result property="updateBy"         column="update_by"                />
		<association property="hospital"    column="id" javaType="Hospital" resultMap="hospitalResult" />
		<association property="medicalProject"    column="id" javaType="MedicalProject" resultMap="medicalProjectResult" />
	</resultMap>

	<resultMap id="hospitalResult" type="Hospital">
		<id     property="id"   column="id"     />
		<result property="hosName"         column="hos_name"        />
		<result property="hosCode"         column="hos_code"        />
		<result property="introduction"       column="introduction"         />
		<result property="communityIds"       column="community_ids"         />
		<result property="areaId"       column="area_id"         />
		<result property="status"           column="status"         />
	</resultMap>

	<resultMap id="medicalProjectResult" type="MedicalProject">
		<id     property="id"         column="id"         />
		<result property="name"         column="name"        />
		<result property="serviceContent"         column="service_content"        />
		<result property="price"          column="price"         />
		<result property="deleteFlag"          column="delete_flag"         />
		<result property="status"          column="status"         />
	</resultMap>

	<sql id="selectAppointmentVo">
    	select a.create_time, a.create_by, a.update_time, a.update_by, a.id,a.user_id,a.hospital_id,
		a.medical_project_id,a.appointment_time,a.appointment_name,a.appointment_phone,a.status,
		h.id,h.hos_name,h.hos_code,h.introduction,h.community_ids,h.area_id,h.status,
		mp.id,mp.name,mp.service_content,mp.price,mp.delete_flag,mp.status
		from ch_appointment a
		left join ch_hospital h on a.hospital_id = h.id
		left join ch_medical_project mp on a.medical_project_id = mp.id
    </sql>

	<select id="selectAppointmentById" parameterType="Integer" resultMap="AppointmentResult">
		<include refid="selectAppointmentVo"/>
		where a.id = #{id}
	</select>

 	<select id="selectAppointmentList" parameterType="Appointment" resultMap="AppointmentResult">
<!--		<include refid="selectAppointmentVo"/>-->
		select a.create_time, a.create_by, a.update_time, a.update_by, a.id,a.user_id,a.hospital_id,
		a.medical_project_id,a.appointment_time,a.appointment_name,a.appointment_phone,a.status,
		h.id,h.hos_name,h.hos_code,h.introduction,h.community_ids,h.area_id,h.status,
		mp.id,mp.name,mp.service_content,mp.price,mp.delete_flag,mp.status
		from ch_appointment a
		left join ch_hospital h on a.hospital_id = h.id
		left join ch_medical_project mp on a.medical_project_id = mp.id
		<where>
			<if test="userId != null">
				AND a.user_id = #{userId}
			</if>
			<if test="appointmentName != null and appointmentName != ''">
				AND a.appointment_name like concat('%', #{appointmentName}, '%')
			</if>
			<if test="appointmentPhone != null and appointmentPhone != ''">
				AND a.appointment_phone = #{appointmentPhone}
			</if>
			<if test="medicalProjectId != null and medicalProjectId != ''">
				AND a.medical_project_id  = #{medicalProjectId}
			</if>
			<if test="hospitalId != null and hospitalId != ''">
				AND a.hospital_id  = #{hospitalId}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="id != null and id != 0">
				AND id = #{id}
			</if>
		</where>
	</select>

	<!--<result property="userId"         column="user_id"        />
		<result property="hospitalId"         column="hospital_id"        />
		<result property="hospitalId"         column="hospital_id"        />
		<result property="medicalProjectId"       column="medical_project_id"         />
		<result property="appointmentTime"       column="appointment_time"         />
		<result property="appointmentName"       column="appointment_name"         />
		<result property="appointmentPhone"       column="appointment_phone"         /> -->

	<insert id="insertAppointment" parameterType="Appointment">
		insert into ch_appointment (
		<if test="userId != null and userId != '' ">user_id, </if>
		<if test="hospitalId != null and hospitalId != '' ">hospital_id, </if>
		<if test="medicalProjectId != null and medicalProjectId != '' ">medical_project_id, </if>
		<if test="appointmentTime != null">appointment_time, </if>
		<if test="appointmentName != null and appointmentName != '' ">appointment_name, </if>
		<if test="appointmentPhone != null and appointmentPhone != '' ">appointment_phone, </if>
		<if test="status != null and status != '' ">status, </if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="updateBy != null and updateBy != ''">update_by,</if>
		create_time,
		update_time
		)values(
		<if test="userId != null and userId != ''">#{userId}, </if>
		<if test="hospitalId != null and hospitalId != ''">#{hospitalId}, </if>
		<if test="medicalProjectId != null and medicalProjectId != ''">#{medicalProjectId}, </if>
		<if test="appointmentTime != null">#{appointmentTime,jdbcType=DATE}, </if>
		<if test="appointmentName != null and appointmentName != ''">#{appointmentName}, </if>
		<if test="appointmentPhone != null and appointmentPhone != ''">#{appointmentPhone}, </if>
		<if test="status != null and status != '' ">#{status}, </if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="updateAppointment" parameterType="Appointment">
		update ch_appointment
		<set>
			<if test="userId != null and userId != ''">user_id = #{userId}, </if>
			<if test="hospitalId != null and hospitalId != ''">hospital_id = #{hospitalId}, </if>
			<if test="medicalProjectId != null and medicalProjectId != ''">medical_project_id = #{medicalProjectId}, </if>
			<if test="appointmentTime != null">appointment_time = #{appointmentTime}, </if>
			<if test="appointmentName != null">appointment_name = #{appointmentName}, </if>
			<if test="appointmentPhone != null">appointment_phone = #{appointmentPhone}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>

    <delete id="deleteAppointmentByIds" parameterType="String">
        delete from ch_appointment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
