<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepper.project.ch.doctor.mapper.DoctorMapper">

	<resultMap type="Doctor" id="DoctorResult">
		<id     property="id"         column="id"         />
		<result property="doctorName"         column="doctor_name"        />
		<result property="doctorCode"         column="doctor_code"        />
		<result property="majorField"          column="major_field"         />
<!--		<result property="deleteFlag"          column="delete_flag"         />-->
		<result property="doctorType"          column="doctor_type"         />
		<result property="hospitalId"          column="hospital_id"         />
		<result property="status"          column="status"         />
		<result property="createTime"            column="create_time"            />
		<result property="createBy"     column="create_by"    />
		<result property="updateTime"           column="update_time"           />
		<result property="updateBy"                column="update_by"                />
		<association property="hospital"    column="id" javaType="Hospital" resultMap="hospitalResult" />

	</resultMap>

	<resultMap id="hospitalResult" type="Hospital">
		<id     property="id"   column="id"     />
		<result property="hosName"         column="hos_name"        />
		<result property="hosCode"         column="hos_code"        />
		<result property="introduction"       column="introduction"         />
		<result property="communityIds"       column="community_ids"         />
		<result property="areaId"       column="area_id"         />
		<result property="status"           column="status"         />
	</resultMap>

	<sql id="selectDoctorVo">
       select d.create_time, d.create_by,d.update_time, d.update_by, d.id,d.doctor_name,d.doctor_code, d.major_field,d.doctor_type,d.hospital_id,d.status,
       h.id,h.hos_name,h.hos_code,h.introduction,h.community_ids,h.area_id,h.status
       from ch_doctor d
	   left join ch_hospital h on d.hospital_id = h.id
    </sql>

	<select id="selectDoctorById" parameterType="Integer" resultMap="DoctorResult">
		<include refid="selectDoctorVo"/>
		where d.id = #{id}
	</select>

 	<select id="selectDoctorList" parameterType="Doctor" resultMap="DoctorResult">
		<include refid="selectDoctorVo"/>
		<where>
			<if test="doctorName != null and doctorName != ''">
				AND d.doctor_name like concat('%', #{doctorName}, '%')
			</if>
			<if test="hospitalId != null and hospitalId != ''">
				AND d.hospital_id = #{hospitalId}
			</if>
			<if test="status != null and status != ''">
				AND d.status = #{status}
			</if>
			<if test="id != null and id != 0">
				AND d.id = #{id}
			</if>
		</where>
	</select>

	<insert id="insertDoctor" parameterType="Doctor" useGeneratedKeys="true" keyProperty="id">
		insert into ch_doctor (
		<if test="doctorName != null and doctorName != '' ">doctor_name, </if>
		<if test="doctorCode != null and doctorCode != '' ">doctor_code, </if>
		<if test="majorField != null and majorField != '' ">major_field, </if>
		<if test="doctorType != null and doctorType != '' ">doctor_type, </if>
		<if test="hospitalId != null and hospitalId != '' ">hospital_id, </if>
		<if test="status != null and status != '' ">status, </if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="updateBy != null and updateBy != ''">update_by,</if>
		create_time,
		update_time
		)values(
		<if test="doctorName != null and doctorName != ''">#{doctorName}, </if>
		<if test="doctorCode != null and doctorCode != ''">#{doctorCode}, </if>
		<if test="majorField != null and majorField != ''">#{majorField}, </if>
		<if test="doctorType != null and doctorType != ''">#{doctorType},</if>
		<if test="hospitalId != null and hospitalId != ''">#{hospitalId}, </if>
		<if test="status != null and status != '' ">#{status}, </if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="updateDoctor" parameterType="Doctor">
		update ch_doctor
		<set>
			<if test="doctorName != null and doctorName != ''">doctor_name = #{doctorName}, </if>
			<if test="doctorCode != null and doctorCode != ''">doctor_code = #{doctorCode}, </if>
			<if test="majorField != null and majorField != ''">major_field = #{majorField}, </if>
			<if test="doctorType != null and doctorType != ''">doctor_type = #{doctorType}, </if>
			<if test="hospitalId != null and hospitalId != ''">hospital_id = #{hospitalId}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>

    <delete id="deleteDoctorByIds" parameterType="String">
        delete from ch_doctor where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
