<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepper.project.sm.user.mapper.ClientUserMapper">

	<resultMap type="ClientUser" id="ClientUserResult">
		<id     property="userId"         	 column="user_id"         />
		<result property="nikeName"          column="nike_name"         />
		<result property="userCurrentPoints" column="user_current_points"        />
		<result property="userAccPoints"     column="user_acc_points"        />
        <result property="userUsedPoints"    column="user_used_points"        />
        <result property="userName"          column="user_name"         />
        <result property="userMobile"        column="user_mobile"         />
        <result property="gender"          column="gender"         />
		<result property="avatarUrl"          column="avatar_url"         />
<!--        <result property="password"          column="password"         />-->
        <result property="registerTime"      column="register_time"         />
        <result property="lastLoginTime"     column="last_login_time"         />
		<result property="age"            column="age"         />
		<result property="birthday"            column="birthday"         />
		<result property="status"            column="status"         />
		<result property="createTime"        column="create_time"            />
		<result property="createBy"     	 column="create_by"       />
		<result property="updateTime"        column="update_time"     />
		<result property="updateBy"          column="update_by"       />
	</resultMap>

	<sql id="selectClientUserVo">
       select cu.create_time, cu.create_by, cu.update_time, cu.update_by, cu.user_id,cu.nike_name
       ,cu.user_current_points,cu.user_acc_points,cu.user_used_points,cu.user_name,cu.user_mobile
       ,cu.gender,cu.avatar_url,cu.register_time,cu.last_login_time,cu.age,cu.birthday,cu.status
       from sm_client_user cu
    </sql>

	<select id="selectClientUserById" parameterType="Long" resultMap="ClientUserResult">
		<include refid="selectClientUserVo"/>
		where cu.user_id = #{userId}
	</select>

 	<select id="selectClientUserList" parameterType="ClientUser" resultMap="ClientUserResult">
		<include refid="selectClientUserVo"/>
		<where>
			<if test="nikeName != null and nikeName != ''">
				AND cu.nike_name like concat('%', #{nikeName}, '%')
			</if>
            <if test="gender != null and gender != ''">
                AND cu.gender = #{gender}
            </if>
			<if test="userMobile != null and userMobile != ''">
				AND cu.user_mobile like concat('%', #{userMobile}, '%')
			</if>
            <if test="userName != null and userName != ''">
                AND cu.user_name like concat('%', #{userName}, '%')
            </if>
			<if test="status != null and status != ''">
				AND cu.status = #{status}
			</if>
			<if test="userId != null and userId != 0">
				AND cu.user_id = #{userId}
			</if>
		</where>
	</select>

	<insert id="insertClientUser" parameterType="ClientUser" useGeneratedKeys="true" keyProperty="userId">
		insert into sm_client_user (
		<if test="nikeName != null and nikeName != '' ">nike_name, </if>
		<if test="userName != null and userName != '' ">user_name, </if>
		<if test="userMobile != null and userMobile != '' ">user_mobile, </if>
        <if test="gender != null and gender != '' ">gender, </if>
        <if test="password != null and password != '' ">password, </if>
		<if test="age != null and age != '' ">age, </if>
		<if test="birthday != null and birthday != '' ">birthday, </if>
		<if test="status != null and status != '' ">status, </if>
		user_current_points,
		user_acc_points,
		user_used_points,
		register_time,
		last_login_time,
		create_time,
		update_time
		)values(
		<if test="nikeName != null and nikeName != ''">#{nikeName}, </if>
		<if test="userName != null and userName != ''">#{userName}, </if>
		<if test="userMobile != null and userMobile != ''">#{userMobile}, </if>
        <if test="gender != null and gender != ''">#{gender}, </if>
        <if test="password != null and password != '' ">#{password}, </if>
		<if test="age != null and age != '' ">#{age}, </if>
		<if test="birthday != null and birthday != '' ">#{birthday}, </if>
		<if test="status != null and status != '' ">#{status}, </if>
		0,
		0,
		0,
        sysdate(),
        sysdate(),
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="updateClientUser" parameterType="ClientUser">
		update sm_client_user
		<set>
			<if test="nikeName != null and nikeName != ''">nike_name = #{nikeName}, </if>
			<if test="userName != null and userName != ''">user_name = #{userName}, </if>
			<if test="userMobile != null and userMobile != ''">user_mobile = #{userMobile}, </if>
            <if test="gender != null and gender != ''">gender = #{gender}, </if>
			<if test="age != null and age != ''">age = #{age}, </if>
			<if test="birthday != null and birthday != ''">birthday = #{birthday}, </if>
			<if test="status != null and status != ''">status = #{status}, </if>
			<if test="avatarUrl != null and avatarUrl != ''">avatar_url = #{avatarUrl}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			<if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
			update_time = sysdate()
		</set>
		where user_id = #{userId}
	</update>

    <delete id="deleteClientUserByIds" parameterType="String">
        delete from sm_client_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	<update id="deductClientUserCurrPoint" parameterType="ClientUser">
		update sm_client_user set
		user_current_points = user_current_points - #{pointNum},
		user_used_points = user_used_points + #{pointNum}
		where user_id = #{userId} and user_current_points >= #{pointNum}
	</update>

	<update id="addClientUserCurrPoint" parameterType="ClientUser">
		update sm_client_user set
		user_acc_points = user_acc_points + #{pointNum},
		user_current_points = user_current_points + #{pointNum}
		where user_id = #{userId}
	</update>


</mapper>
