<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepper.project.sm.friends.mapper.FriendsMapper">

	<resultMap type="Friends" id="FriendsResult">
		<id     property="id"         	 	 column="id"         />
		<result property="userId"         	 column="user_id"         />
		<result property="friendUserId"         column="friend_user_id"         />
		<result property="status"            column="status"         />
		<result property="createTime"        column="create_time"            />
		<result property="createBy"     	 column="create_by"       />
		<result property="updateTime"        column="update_time"     />
		<result property="updateBy"          column="update_by"       />
		<association property="clientUser"    column="userId" javaType="ClientUser" resultMap="ClientUserResult" />
	</resultMap>

	<resultMap type="ClientUser" id="ClientUserResult">
		<id     property="userId"         	 column="user_id"         />
		<result property="nikeName"          column="nike_name"         />
		<result property="userCurrentPoints" column="user_current_points"        />
		<result property="userAccPoints"     column="user_acc_points"        />
		<result property="userUsedPoints"    column="user_used_points"        />
		<result property="userName"          column="user_name"         />
		<result property="userMobile"        column="user_mobile"         />
		<result property="gender"          column="gender"         />
		<result property="avatarUrl"          column="avatar_url"         />
	</resultMap>

	<sql id="selectFriendsVo">
       select f.id, f.user_id, f.friend_user_id,f.status,f.create_time,f.update_time,f.update_by,f.create_by,
       cu.user_id,cu.nike_name, cu.user_current_points,cu.user_acc_points,cu.user_used_points,cu.user_name,
       cu.user_mobile,cu.gender,cu.avatar_url
       from sm_friends f
       left join sm_client_user cu on cu.user_id = f.friend_user_id
    </sql>

	<select id="selectFriendsById" parameterType="Long" resultMap="FriendsResult">
		<include refid="selectFriendsVo"/>
		where f.id = #{id}
	</select>

 	<select id="selectFriendsList" parameterType="Friends" resultMap="FriendsResult">
		<include refid="selectFriendsVo"/>
		<where>
			<if test="id != null and id != ''">
				AND f.id = #{id}
			</if>
			<if test="userId != null and userId != ''">
				AND f.user_id = #{userId}
			</if>
			<if test="friendUserId != null and friendUserId != ''">
				AND f.friend_user_id = #{friendUserId}
			</if>
			<if test="status != null and status != ''">
				AND f.status != '3'
			</if>
		</where>
	</select>

	<insert id="insertFriends" parameterType="Friends" useGeneratedKeys="true" keyProperty="id">
		insert into sm_friends (
		<if test="userId != null and userId != '' ">user_id, </if>
		<if test="friendUserId != null and friendUserId != '' ">friend_user_id, </if>
		<if test="status != null and status != '' ">status, </if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="updateBy != null and updateBy != ''">update_by,</if>
		create_time,
		update_time
		)values(
		<if test="userId != null and userId != ''">#{userId}, </if>
		<if test="friendUserId != null and friendUserId != ''">#{friendUserId}, </if>
		<if test="status != null and status != '' ">#{status}, </if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="updateFriends" parameterType="Friends">
		update sm_friends
		<set>
			<if test="userId != null and userId != ''">user_id = #{userId}, </if>
			<if test="friendUserId != null and friendUserId != ''">friend_user_id = #{friendUserId}, </if>
			<if test="status != null and status != ''">status = #{status}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>

    <delete id="deleteFriendsByIds" parameterType="String">
        delete from sm_user_point_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
