<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepper.project.cm.activity.mapper.ActivityMapper">

	<resultMap type="Activity" id="ActivityResult">
		<id     property="id"         		column="id"         />
		<id     property="communityId"      column="community_id"         />
		<result property="title"            column="title"        />
		<result property="content"          column="content"        />
		<result property="status"           column="status"         />
		<result property="imgUrls"           column="img_urls"         />
		<result property="createTime"       column="create_time"            />
		<result property="createBy"     	column="create_by"    />
		<result property="updateTime"       column="update_time"           />
		<result property="updateBy"         column="update_by"                />
		<association property="community"   column="id" javaType="Community" resultMap="CommunityResult" />
	</resultMap>

	<resultMap type="Community" id="CommunityResult">
		<id     property="id"         		column="com_id"         />
		<result property="communityCode"    column="community_code"        />
		<result property="communityName"    column="community_name"        />
		<result property="areaId"       	column="area_id"         />
		<result property="status"           column="com_status"         />
	</resultMap>
	<sql id="selectActivityVo">
       select a.create_time, a.create_by, a.update_time, a.update_by, a.id,a.community_id,
       a.title,a.content,a.status,a.img_urls,
       c.id as com_id,c.community_code,c.community_name,c.area_id,c.status as com_status
       from cm_activity a
       left join cm_community c on a.community_id = c.id
    </sql>

	<select id="selectActivityById" parameterType="Long" resultMap="ActivityResult">
		<include refid="selectActivityVo"/>
		where a.id = #{id}
	</select>

 	<select id="selectActivityList" parameterType="Activity" resultMap="ActivityResult">
		<include refid="selectActivityVo"/>
		<where>
			<if test="title != null and title != ''">
				AND a.title like concat('%', #{title}, '%')
			</if>
			<if test="communityId != null and communityId != ''">
				AND a.community_id like concat('%', #{communityId}, '%')
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="id != null and id != 0">
				AND a.id = #{id}
			</if>
		</where>
	</select>

	<insert id="insertActivity" parameterType="Activity">
		insert into cm_activity (
		<if test="communityId != null and communityId != '' ">community_id, </if>
		<if test="title != null and title != '' ">title, </if>
		<if test="content != null and content != '' ">content, </if>
		<if test="status != null and status != '' ">status, </if>
		<if test="imgUrls != null and imgUrls != '' ">img_urls, </if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="updateBy != null and updateBy != ''">update_by,</if>
		create_time,
		update_time
		)values(
		<if test="communityId != null and communityId != ''">#{communityId}, </if>
		<if test="title != null and title != ''">#{title}, </if>
		<if test="content != null and content != ''">#{content}, </if>
		<if test="status != null and status != '' ">#{status}, </if>
		<if test="imgUrls != null and imgUrls != '' ">#{imgUrls}, </if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="updateActivity" parameterType="Activity">
		update cm_activity
		<set>
			<if test="communityId != null and communityId != ''">community_id = #{communityId}, </if>
			<if test="title != null and title != ''">title = #{title}, </if>
			<if test="content != null and content != ''">content = #{content}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="imgUrls != null">img_urls = #{imgUrls}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>

	<update id="updateWatchCount" parameterType="Long">
		update cm_activity
		set watch_count = watch_count + 1
		where id = #{id}
	</update>

    <delete id="deleteActivityByIds" parameterType="String">
        delete from cm_activity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
