<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepper.project.csc.area.mapper.AreaMapper">

	<resultMap type="Area" id="AreaResult">
		<id     property="id"         column="id"         />
		<result property="areaCode"         column="area_code"        />
		<result property="areaName"         column="area_name"        />
		<result property="coordinate"          column="coordinate"         />
		<result property="createTime"            column="create_time"            />
		<result property="createBy"     column="create_by"    />
		<result property="updateTime"           column="update_time"           />
		<result property="updateBy"                column="update_by"                />
	</resultMap>

	<sql id="selectAreaVo">
       select create_time, create_by, update_time, update_by, id,area_code, area_name, coordinate from csc_area
    </sql>

	<select id="selectAreaById" parameterType="Integer" resultMap="AreaResult">
		<include refid="selectAreaVo"/>
		where id = #{id}
	</select>

 	<select id="selectAreaList" parameterType="Area" resultMap="AreaResult">
		<include refid="selectAreaVo"/>
		<where>
			<if test="areaName != null and areaName != ''">
				AND name like concat('%', #{areaName}, '%')
			</if>
			<if test="areaCode != null and areaCode != ''">
				AND area_code like concat('%', #{areaCode}, '%')
			</if>
			<if test="id != null and id != 0">
				AND id = #{id}
			</if>
		</where>
	</select>

	<insert id="insertArea" parameterType="Area">
		insert into csc_area (
		<if test="areaCode != null and areaCode != '' ">area_code, </if>
		<if test="areaName != null and areaName != '' ">area_name, </if>
		<if test="coordinate != null and coordinate != '' ">coordinate, </if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="updateBy != null and updateBy != ''">update_by,</if>
		create_time,
		update_time
		)values(
		<if test="areaCode != null and areaCode != ''">#{areaCode}, </if>
		<if test="areaName != null and areaName != ''">#{areaName}, </if>
		<if test="coordinate != null and coordinate != ''">#{coordinate}, </if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="updateArea" parameterType="Area">
		update csc_area
		<set>
			<if test="areaCode != null and areaCode != ''">area_code = #{areaCode}, </if>
			<if test="areaName != null and areaName != ''">area_name = #{areaName}, </if>
			<if test="coordinate != null">coordinate = #{coordinate}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>

    <delete id="deleteAreaByIds" parameterType="String">
        delete from csc_area where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
