<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>社区医院管理后台介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <h2>新疆乌鲁木齐社区医院管理平台</h2>
                <p>这是一个后台管理系统，用户承接社区医院的功能，当前设计功能，有<b>社区管理</b>，<b>社区医院管理</b>，<b>医院管理</b>，<b>权限分配</b>，<b>管理员添加</b>等等，当然，后续可以新增更多的功能。</p>
                <p>
                    <b>当前版本：</b><span>v[[${version}]]</span>
                </p>
                <p>
                    <span class="label label-warning">欢迎使用</span>
                </p>
                <br>
            </div>
            <hr>
        </div>
        <div class="col-sm-3">
            <h2>欢迎使用</h2>
            <small>展示图：</small>
            <br>
            <br>
            <img th:src="@{/img/profile.jpg}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>新疆乌鲁木齐社区医院管理平台</h2>
            <p>这是一个后台管理系统，用户承接社区医院的功能，当前设计功能，有<b>社区管理</b>，<b>社区医院管理</b>，<b>医院管理</b>，<b>权限分配</b>，<b>管理员添加</b>等等，当然，后续可以新增更多的功能。</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <p>
                <span class="label label-warning">欢迎使用</span>
            </p>
            <br>
<!--            <p>-->
<!--                <a class="btn btn-success btn-outline" href="https://gitee.com/y_project/RuoYi" target="_blank">-->
<!--                    <i class="fa fa-cloud"> </i> 访问码云-->
<!--                </a>-->
<!--                <a class="btn btn-white btn-bitbucket" href="http://ruoyi.vip" target="_blank">-->
<!--                    <i class="fa fa-home"></i> 访问主页-->
<!--                </a>-->
<!--            </p>-->
        </div>
        <div class="col-sm-4">
            <h4>扩展信息：</h4>
            <ol>
                <li>扩展信息</li>
                <li>扩展信息</li>
				<li>扩展信息</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 后管首页：<a href="http://49.4.124.220/login" target="_blank">http://49.4.124.220/login</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群： <s>满88888888888</s> <a href="https://jq.qq.com/?_wv=1027&k=5CJw1jY" target="_blank">888888888</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>扩展信息</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
								<div class="panel panel-default">
									<div class="panel-heading">
									   <h5 class="panel-title">
										   <a data-toggle="collapse" data-parent="#version" href="#v41">v0.0.1</a><code class="pull-right">2020.01.10</code>
									   </h5>
									</div>
									<div id="v1" class="panel-collapse collapse in">
										<div class="panel-body">
										   <ol>
											   <li>扩展信息</li>
											   <li>扩展信息</li>
											</ol>
										</div>
									</div>
								</div>
<!--								<div class="panel panel-default">-->
<!--									<div class="panel-heading">-->
<!--									   <h5 class="panel-title">-->
<!--										   <a data-toggle="collapse" data-parent="#version" href="#v40">v4.0.0</a><code class="pull-right">2019.08.08</code>-->
<!--									   </h5>-->
<!--									</div>-->
<!--									<div id="v1" class="panel-collapse collapse">-->
<!--										<div class="panel-body">-->
<!--										   <ol>-->
<!--												<li>社区管理</li>-->
<!--												<li>社区医院管理</li>-->
<!--												<li>物业管理</li>-->
<!--											</ol>-->
<!--										</div>-->
<!--									</div>-->
<!--								 </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>扩展</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	这里可以添加展示图（点击图片放大）
                        </div>
                        <p id="pay-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="欢迎使用">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
