<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('预约管理')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="appointment-form" th:object="${hospitals}">
					<div class="select-list">
						<ul>
							<li>
								用户id：<input type="text" name="userId"/>
							</li>
							<li>
								医院：<select id="hospitalId" name="hospitalId">
								<option value="">所有</option>
								<option th:each="hospital : ${hospitals}" th:text="${hospital['hosName']}" th:value="${hospital['id']}"></option>
							</select>
							</li>
							<li>
								预约人姓名：<input type="text" name="appointmentName"/>
							</li>
							<li>
								预约人手机号：<input type="text" name="appointmentPhone"/>
							</li>
							<li>
								预约状态：<select name="status" th:with="type=${@dict.getType('sys_notice_status')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
<!--							<li>-->
<!--								公告类型：<select name="noticeType" th:with="type=${@dict.getType('sys_notice_type')}">-->
<!--									<option value="">所有</option>-->
<!--									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--								</select>-->
<!--							</li>-->
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="csc:appointment:add">
		            <i class="fa fa-plus"></i> 新增[test]
		        </a>
<!--		        <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="csc:appointment:edit">-->
<!--		            <i class="fa fa-edit"></i> 修改-->
<!--		        </a>-->
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="csc:appointment:remove">
		            <i class="fa fa-remove"></i> 删除[test]
		        </a>
	        </div>

	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('csc:appointment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('csc:appointment:remove')}]];
		var detailFlag = [[${@permission.hasPermi('csc:appointment:detail')}]];
		var changeStatusFlag = [[${@permission.hasPermi('csc:appointment:changeStatus')}]];
        var types = [[${@dict.getType('sys_notice_type')}]];
        var datas = [[${@dict.getType('sys_notice_status')}]];
        var prefix = ctx + "csc/appointment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
				detailUrl: prefix + "/detail/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "预约管理",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id',
					title : '序号'
				},
				{
					field : 'userId',
					title : '用户名'
				},
				{
					field : 'hospital.hosName',
					title : '医院名称'
				},
				{
					field : 'medicalProject.name',
					title : '预约服务项目',
					// align: 'center',
					// formatter: function(value, row, index) {
					// 	return $.table.selectDictLabel(types, value);
					// }
				},
				{
		            field: 'appointmentTime',
		            title: '预约时间',
					sortable: true

		        },
				{
					field : 'appointmentName',
					title : '患者姓名'
				},
				{
					field : 'appointmentPhone',
					title : '联系电话'
				},
				{
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
				{
					field: 'cancelReason',
					title: '取消原因'
				},
				{
					field : 'createBy',
					title : '创建者'
				},

				{
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	debugger
						if(row.status == '0'){
							actions.push('<a class="btn btn-primary btn-xs ' + changeStatusFlag + '" href="javascript:void(0)" onclick="cancel(\'' + row.id + '\')"><i class="fa fa-play-circle-o"></i> 取消预约</a> ');
						}
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详细</a> ');
                        return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		/* 取消预约 */
		function cancel(id) {
			$.modal.confirm("确认取消当前的预约吗？", function() {
				$.operate.post(prefix + "/changeStatus", { "id": id,"status": '1',"cancelReason":"系统取消"});
			})
		}
    </script>
</body>
</html>
