<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增预约')" />
	<th:block th:include="include :: summernote-css" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="include :: bootstrap-select-css" />
	<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-appointment-add">
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">用户id：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="userId" value="10000001" id="userId" required>
			</div>
		</div>
<!--		<div class="form-group">-->
<!--			<label class="col-sm-2 control-label is-required">预约医院：</label>-->
<!--			<div class="col-sm-10">-->
<!--				<input class="form-control" type="text" name="hospitalId" id="hospitalId" required>-->
<!--			</div>-->
<!--		</div>-->
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">预约服务：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="medicalProjectId" id="medicalProjectId" required>
			</div>
		</div>
<!--		<div class="form-group">-->
<!--			<label class="col-sm-2 control-label is-required">预约日期：</label>-->
<!--			<div class="col-sm-10 input-group date">-->
<!--				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--				<input type="text" class="form-control" name="appointmentTimeStr" id="appointmentTimeStr" placeholder="yyyy-MM-dd HH:mm:ss" required>-->
<!--			</div>-->
<!--		</div>-->
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">预约时间起始：</label>
			<div class="col-sm-10 input-group date">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				<input type="text" class="form-control" name="appointmentStartTimeStr" id="appointmentStartTimeStr" placeholder="yyyy-MM-dd HH:mm:ss" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">预约时间结束：</label>
			<div class="col-sm-10 input-group date">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				<input type="text" class="form-control" name="appointmentEndTimeStr" id="appointmentEndTimeStr" placeholder="yyyy-MM-dd HH:mm:ss" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">患者姓名：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="appointmentName" id="appointmentName" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">联系电话：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="appointmentPhone" id="appointmentPhone" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">预约原因：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="appointmentReason" id="appointmentReason" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label is-required">预约状态：</label>
			<div class="col-sm-10">
				<div class="radio-box" th:each="dict : ${@dict.getType('sys_notice_status')}">
					<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
					<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
				</div>
			</div>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: summernote-js" />
<th:block th:include="include :: select2-js" />
<th:block th:include="include :: bootstrap-select-js" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
	var prefix = ctx + "ch/appointment";

	$('.summernote').summernote({
		placeholder: '请输入医院介绍',
		height : 192,
		lang : 'zh-CN',
		followingToolbar: false,
		callbacks: {
			onImageUpload: function (files) {
				sendFile(files[0], this);
			}
		}
	});

	// $("#form-area-add").validate({
	// 	onkeyup: false,
	// 	rules:{
	// 		cronExpression:{
	// 			remote: {
	// 				url: prefix + "/checkCronExpressionIsValid",
	// 				type: "post",
	// 				dataType: "json",
	// 				data: {
	// 					"cronExpression": function() {
	// 						return $.common.trim($("#cronExpression").val());
	// 					}
	// 				},
	// 				dataFilter: function(data, type) {
	// 					return data;
	// 				}
	// 			}
	// 		},
	// 	},
	// 	messages: {
	// 		"cronExpression": {
	// 			remote: "表达式不正确"
	// 		}
	// 	},
	// 	focusCleanup: true
	// });

	$(function(){
		<!-- laydate示例 -->
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '#appointmentTimeStr',
				type: 'datetime',
				trigger: 'click'
			});
			laydate.render({
				elem: '#appointmentStartTimeStr',
				type: 'datetime',
				trigger: 'click'
			});
			laydate.render({
				elem: '#appointmentEndTimeStr',
				type: 'datetime',
				trigger: 'click'
			});
		});
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/add", $('#form-appointment-add').serialize());
		}
	}
</script>
</body>
</html>
